.app-header {
    display: flex;
    align-items: center;

    min-height: 72px;
    width: 100%;

    background-color: var(--color-main);
    padding: 0 2.56rem;
}

.app-header__logo {
    margin-right: 1.37rem;
}

@media (max-width: 474px) {
    .app-header {
        padding: 0 1.5rem;
    }
}
