.content__loading-page {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 13.25rem 0;
}

.loader {
    border: 10px solid #f3f3f3;
    border-top: 10px solid var(--color-main);
    border-radius: 50%;
    width: 75px;
    height: 75px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
