.user__no-repos-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 11.3rem 0;
}

.user__no-repos-icon {
    width: 76px;
    height: 62px;
    margin-bottom: 3rem;
}

.user__no-repos-title {
    font-size: 22px;
    color: var(--color-additional);
}